<div>
    <div class="content-container">
    <span class="content-span full-width"><h5>Select the buttons below to register as User or Admin</h5></span>
    </div>
    
    <div class="row">
    <div class="col">    
    <button mat-flat-button class="btn" color="primary" [mat-dialog-close]="true" (click)="NavigateUser()">User</button>
    </div>
    <div class="col">
    <button mat-flat-button class="btn" color="primary" [mat-dialog-close]="true" (click)="NavigateAdmin()">Admin</button>
    </div>
    </div>
</div>
