<div class="bg-img">
    <div *ngIf="lflag">
    <div class="home-container">
        <h3>Already User?</h3>
    <form>
        <div class="mb-3">
            <label for="uemail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="uemail" name="uemail" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="upass" class="form-label">Password</label>
            <input type="password" class="form-control" id="upass" name="upass" required>
        </div>
        <div class="mb-3">
            <button type="submit" id="login" name="login" class="form-control btn btn-primary" (click)="login()">Login</button>       
        </div>
        <div class="mb-3">
            <span type="submit" id="forgotpass" name="forgotpass" class="form-control btn btn-link">forgot your Password?</span>
            <span type="submit" id="create" name="create" class="form-control btn btn-link">Dont have an Account? Sign Up!</span>       
        </div>
    </form>
    </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/images/a.jpg" alt="c">
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4"> Why Choose INBank Home Loans?</h2>
        <p><i>Attractive interest rates to make your Home Loans affordable and easier on your pocket.</i></p>
        <p><i>Customized repayment options to suit your needs.</i></p>
        <p><i>No hidden charges.</i></p>
        <p><i>Expert legal and technical counseling to help you make the right home buying decision.</i></p>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6">
        <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/images/b.jpg" alt="b">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="p-5">
        <h2 class="display-4">Home Loan</h2>
        <p>Buying a house is a dream for many and involves a lot of <br/>financial planning.  INBank Home Loans makes it simpler 
        <br/>for those who want to realise this dream.</p>
        <p>With our Express Home Loans platform you can now get <br/>digital sanction of your Home Loan at attractive rate of interest <br/>in just few simple steps.</p>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/images/c.jpg" alt="a">
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4">How do Home Loans work?</h2>
        <p>Home loans help you with a lump-sum advance of funds towards buying your desired property, this amount will be repayable with interest. However you can re-pay the amount advanced via EMIs (Equated Monthly Installments),
            thus enabling you to approach realizing your home dream in a convenient and structured way.</p>
        </div>
    </div>
    </div>
</div>

<br><br><br><br><br><br><br><br>

<p>Normal Loading</p>
